* {
  margin: 0px;
  padding: 0px;
}
body {
    margin-top: 50px;
  background: #450961;
  justify-content: center;
  align-items: center;
  display: flex;
}
.params {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 600px;
}
.maincontent {
  width: 650px;
  height: 600px;
}
.line {
  width: 650px;
  height: 100px;
  background: #bd52d6;
}
.num2 {
  margin-top: 30px;
  display: flex;
  width: 650px;
  height: 600px;
  justify-content: space-between;
  align-content: center;
}
.line1-left {
  width: 300px;
  height: 470px;
  display: flex;
  flex-direction: column;
}

.form1 {
  width: 330px;
  height: 300px;
  background: #fea611;
}
.form2 {
  margin-top: 20px;
  width: 330px;
  height: 200px;
  background: #f33e4f;
}

.line2-left {
  width: 300px;
  height: 470px;
  background: #01bed1;
}

.second-content {
  width: 650px;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 600px;
}

.item1 {
  border: 1px solid;
  width: 320px;
  height: 80px;
  background: #f33e4f;
}
.item2 {
  width: 320px;
  height: 80px;
  background: #01bed1;
}
.item3 {
  width: 320px;
  height: 150px;
  background: #fea611;
}
.item4 {
  width: 650px;
  height: 220px;
  background: #bd52d6;
}

.container-right {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 360px;
  justify-content: space-between;
}

.items1 {
  width: 300px;
  height: 120px;
  background: #01bed1;
}

.items2 {
  margin-top: 15px;
  width: 300px;
  height: 100px;
  background: #fea611;
}

.items3 {
  margin-top: 10px;
  width: 300px;
  height: 100px;
  background: #f33e4f;
}

.word {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fafefc;
  font-size: 80px;
}
